services:
    meeteam-server:
        image: 079892728769.dkr.ecr.ap-northeast-2.amazonaws.com/meeteam-server:latest
        ports:
            - 8080:8080
        env_file:
            - .env   # 현재 docker-compose.yml 과 같은 경로의 .env 파일을 읽음
        environment:
            - SPRING_PROFILES_ACTIVE=prod
        depends_on:
            redis:
                condition: service_healthy
        volumes:
            - ./files:/app/files
        networks:
            - meeteam-network

    redis:
        image: redis:7
        command: [ "redis-server", "--appendonly", "yes" ]
        ports:
            - 6379:6379
        volumes:
            - ./redis_data:/data
        healthcheck:
            test: [ "CMD", "redis-cli", "ping" ]
            interval: 5s
            retries: 20
        networks:
            - meeteam-network

    prometheus:
        image: prom/prometheus:latest
        container_name: prometheus
        ports:
            - "9090:9090"
        volumes:
            - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
        command:
            - "--config.file=/etc/prometheus/prometheus.yml"
        networks:
            - meeteam-network

    grafana:
        image: grafana/grafana:latest
        container_name: grafana
        ports:
            - "3000:3000"
        depends_on:
            - prometheus
        environment:
            - GF_SECURITY_ADMIN_USER=admin
            - GF_SECURITY_ADMIN_PASSWORD=admin
        volumes:
            - grafana-storage:/var/lib/grafana
        networks:
            - meeteam-network

volumes:
    grafana-storage:
    redis_data:

networks:
    meeteam-network:
        driver: bridge
